.container-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/img/fundoBase.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-group {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1.5rem;
  margin-top: 1.5rem;
  width: 350px;
  height: 430px;
}

.login-header {
  color: #009982;
  padding: 2.8rem;
  margin-top: -2rem;
}

.login-header h1 {
  font-size: 3.2rem;
  padding-bottom: 10px;
  border-bottom: 0.25px solid darkgray;
  width: 45%;
}

.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2rem;
}

.input-group input {
  border: none;
  border-bottom: 0.25px solid darkgray;
  font-size: 1rem;
  font-weight: bold;
  width: 250px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.checkbox-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  color: #696969;
}

.checkbox-group input {
  margin-right: 0.2rem;
  cursor: pointer;
}

.btn-group {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  align-items: center;
}

.btn {
  color: #fff;
  padding: 0.75rem 6rem;
  text-decoration: none;
  font-weight: bold;
  background-color: #009982;
  border-radius: 0.95rem;
  cursor: pointer;
  border-style: none;
  font-size: 1.25rem;
  align-items: center;
}

.helper-group {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  padding-left: 3rem;
}

.helper-group a {
  color: #009982;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.95rem;
}

.helper-group a:hover {
  color: #007f6b;
  text-decoration: underline;
}
